.referencesWrapper {
    overflow: hidden;
    position: relative;
    background-color: black;
}
.referenceListWrapper {
    position: relative;
    z-index: 10;
}
.referenceCard {
    height: 350px;
    background-color: #ececec;
}
.referenceContainer {
    position: relative;
    transform: rotate(-5deg) translateY(-50%);
}
.referencesOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.referencesOverlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    backdrop-filter: blur(0px);
}

.divider {
    background-color: #171717;
    height: 2px;
    width: 100%;
}
.divider:before {
    content: '';
    position: absolute;
    background-color: #171717;
    height: 2px;
    width: 100%;
    left: 0;
}
.divider:after {
    content: '';
    position: absolute;
    background-color: #171717;
    height: 2px;
    width: 100%;
    right: 0;
}
.referenceImage {
    border-radius: 5px;
}
.referenceImageWrapper {
    background-color: #171717;
    border-radius: 10px;
}
